
body{
    font-family: Roboto, sans-serif;
    height:100vh;
    margin:0;
}
.section-one{
    background-color:#1f2937;
    margin:0;
    padding:20px;
}

.navigation{
    display:flex;
    justify-content:space-between;
    margin: 0 300px;
}
ul{
   display:flex;
   align-items:center;
   margin:0;
   padding:0;
   gap:30px;
   list-style:none;
}
a{
    text-decoration:none;
}
a, .hero-sec-text, #signuphome{
    color:#e5e7eB;
    font-size:19px;
}
#logo{
    max-width:150px;
    flex-shrink: 0;
}
.home-content{
    display:flex;
    gap:50px;
    justify-content: space-between;
    margin: 100px 300px;
}
.title{
    display:flex;
    flex-direction:column;

}
.hero-main-text{
    color:#f9faf8;
    font-size: 50px;
    font-weight: 900;
    margin:0;
}
#signuphome{
    background-color: #3882f6;
    border-radius: 5px;
    width:20%;
    padding:5px;
    font-weight: bold;
}
.hero-sec-text{
    letter-spacing: 0.6px;
    
}
.info-header-text{
    font-size:36px;
    color:#1f2937;
    font-weight:900;
    text-align:center;
}
.offers{
    padding:20px 0;
    display:flex;
    justify-content: center;
    gap: 50px;
}

#image{
    border: 5px solid #3882f6;
    border-radius: 10px;
    width:200px;
    height:200px;
}
.img{
    color:#1f2937;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0.6px;
}
.products{
    padding: 20px 0 50px 0;
}