
body{
    font-family: Roboto, sans-serif;
    height:100vh;
    margin:0;
}
.section-one, .copyright{
    background-color:#1f2937;
    margin:0;
    padding:20px;
}

.navigation{
    display:flex;
    justify-content:space-between;
    margin: 0 300px;
}
ul{
   display:flex;
   align-items:center;
   margin:0;
   padding:0;
   gap:30px;
   list-style:none;
}
a{
    text-decoration:none;
}
a, .hero-sec-text{
    color:#e5e7eB;
    font-size:19px;
}
#logo{
    max-width:150px;
    flex-shrink: 0;
}
#picture{
    box-shadow: 2px 2px 40px 0 #0f151d;
}
.home-content{
    display:flex;
    gap:50px;
    justify-content: space-between;
    margin: 100px 300px;
}
.title{
    display:flex;
    flex-direction:column;

}
.hero-main-text{
    color:#f9faf8;
    font-size: 50px;
    font-weight: 900;
    margin:0;
}
#signuphome{
    background-color: #3882f6;
    border-radius: 5px;
    padding:5px;
    width:150px;
}
.hero-sec-text{
    letter-spacing: 0.6px;
    
}
.info-header-text{
    font-size:36px;
    color:#1f2937;
    font-weight:900;
    text-align:center;
}
.offers{
    padding:20px 0 70px 0;
    display:flex;
    justify-content: center;
    gap: 50px;
}

#image{
    border: 5px solid #32425a;
    border-radius: 10px;
    width:200px;
    height:200px;
}
.img{
    color:#1f2937;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.6px;
}
.section-two{
    padding: 20px 0 50px 0;
}
.quotes::before{
    content:'" '
}
.quotes::after{
    content:' "'
}
.section-three{
    background-color: #e5e7eB; 
    padding: 200px 400px; 
    color:#1f2937;
}
.quotes{
    font-size:36px;
    text-align:justify;
}
.prov{
    text-align: right;
    font-size:36px;
}
.section-four{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:100px 300px;
    
}
.box{
    display:flex;
    justify-content:space-evenly;
    width:100%;
    background-color:#3882f6;
    padding: 50px;
    gap:50px;
    border-radius: 10px;
}
.bold, #signuphome, .prov{
    font-weight: 900;
}
.signuptwo{
    border:2px solid white;
}
.button{
    display:flex;
    align-self:center;
}
.copyright{
    text-align: center;
    padding:50px;
}
.footer-text, #signuphome, .signuptwo{
    color:#f9faf8;
    font-size:20px;
}